body {
  background-color: #e4e4e4;
  font-family: 'Nunito', 'Arial', sans-serif;
  font-size: 1em;
  line-height: normal;
}

ul {
  margin: 0;
  padding: 0;
  display: inline;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  #todoapp {
    background-color: #ffffff;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    #header input {
      background: #f2f2f2;
      border: 0 none;
      height: 43px;
      padding-left: 15px;
      width: calc(100% - 15px);
      &:hover {
        background-color: #f5f5f5;
      }
      &:focus {
        background-color: #e5e5e5;
      }
    }
  }
  #main {
    margin-top: 23px;
    li {
      border-bottom: 1px solid #dddddd;
      height: 85px;
      list-style-type: none;
      line-height: 85px;
      position: relative;
      &:first-child {
        border-top: 1px solid #dddddd;
      }
      &:hover .destroy {
        display: block;
      }
      [type="checkbox"] {
        &:not(:checked), &:checked {
          cursor: pointer;
          height: 85px;
          opacity: 0;
          position: absolute;
          z-index: 2;
          width: 85px;
        }
        &:not(:checked) + label, &:checked + label {
          position: relative;
          padding-left: 115px;
          padding-top: 34px;
          top: 2px;
        }
        &:not(:checked) + label:before {
          background-color: #eeeeee;
          border: 0 none;
          content: " ";
          height: 85px;
          left: 0;
          margin-right: 232px;
          position: absolute;
          top: 0;
          width: 85px;
        }
        &:checked + label {
          &:before {
            background-color: #eeeeee;
            border: 0 none;
            content: " ";
            height: 85px;
            left: 0;
            margin-right: 232px;
            position: absolute;
            top: 0;
            width: 85px;
          }
          &:after {
            background: #20b2aa url("../img/confirm.png") center center no-repeat;
            content: " ";
            height: 85px;
            left: 0;
            position: absolute;
            top: 0;
            width: 85px;
          }
        }
      }
      .destroy {
        background: #eee url("../img/close.png") center center no-repeat;
        border: 0 none;
        content: " ";
        display: none;
        height: 37px;
        padding: 28px;
        position: absolute;
        right: 0;
        bottom: 12px;
        width: 38px;
        z-index: 3;
      }
    }
    .completed {
      color: #c3c3c3;
      text-decoration: line-through;
    }
    .edit {
      position: relative;
      width: calc(100% - 15px);
      height: auto;
      font-size: 24px;
      outline: none;
      color: #d6d6d6;
      padding: 6px;
      border: 1px solid #f5f5f5;
      z-index: 5;
    }
    #toggle-all {
      margin-top: 30px;
    }
  }
  #footer {
    line-height: 34px;
    margin-top: 34px;
    span strong {
      color: #999999;
    }
    ul {
      display: inline;
      margin-left: 23px;
    }
    li {
      list-style-type: none;
      display: inline-block;
      width: auto;
      a {
        text-decoration: none;
        color: #20b2aa;
        &:hover, &:focus {
          border-bottom: 1px dashed #20b2aa;
        }
      }
    }
    button {
      background-color: #20b2aa;
      border: 0 none;
      color: #ffffff;
      float: right;
      padding: 10px 13px;
    }
  }
  #info {
    color: #c4c4c4;
    font-family: 'Arial', sans-serif;
    font-size: 0.8em;
    font-weight: lighter;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    height: 100%;
    #footer {
      line-height: normal;
      margin-top: 20px;
      ul {
        margin-left: 0;
      }
      li {
        display: block;
      }
      button {
        background-color: #20b2aa;
        border: 0 none;
        color: #ffffff;
        float: none;
        margin-top: 10px;
        padding: 10px 13px;
      }
    }
  }
}